html{
    min-height:100%;
    margin:0;
    padding:0;
    position: relative;
}

body{
	background-image: url("../images/background.png");
	margin: 0 0 100px;
}

a:link, a:visited, a:active { 
	color: silver;
    text-decoration: none;
}

a:hover{
	color:#4aaaa5;
}


header{
	height:80px;
	background-color: white;
	width: 100%;
	position: absolute;
	border-bottom: 3px solid #C0C0C0;
	top:0;
}

footer{
	position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
}

h1{
	margin: 0;
	float:left;
	color: white;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
}


li{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: medium;
	display:inline;
	color:#dddddd;
}

li:not(:first-child):before {
    content: "| ";
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display:block;
	color: #777777;
}

h2, h3{
	color: #4aaaa5;
	text-align: left;
}

ul{
	padding-top: 13px;
}

section{
	padding-top: 50px;
}

nav{
	text-align: right;
}


textarea{
	height: 200px;
    width: 99%;
    border: solid silver 1px
}

input{
	width: 99%;
    height: 25px;
}

hr{
	margin: 10px 0 30px 0;
 	background-color: lightgrey;
 	border: none;
}

.topofpage{
	width:960px;
	margin-left: 160px;
}

.boxednav{
	margin-right: 89px;
	text-align: center;
	box-sizing: border-box;
	padding:20px;
	float:right;
	display: inline-block;
}

.name{
	box-sizing: border-box;
	padding:20px;
	background-color: #4aaaa5;
	height:80px;
	float:left;
	text-align: center;
	position:absolute;
	top:0;
}

.left{
	box-sizing: border-box;
	padding:20px;
	width:650px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
}

.left > hr{
	height:3px;
}

.right{
	float:right;
	width: 270px;
	position: relative;
	border: 1px solid #dddddd;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
    padding: 10px;
}

.right > hr{
	height:2px;
}

.icon{
	display: inline-block;
	height:64px;
	width:64px;
}

.copyright{
	margin-top: 37px;
    text-align: center;
    color: white;
    font-size: 12px;
}

.container{
	width:960px; 
	margin: 110px 160px;
	display:inline-block;
	}

.form{
	display:inline-block;
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	font-size:larger;
}

#submit{
	color: white;
    background-color: #4aaaa5;
    font-family:'Arial','Helvetica Neue', Helvetica, sans-serif;
    font-size: larger;
    width: 20%;
    height: 37px;
    border-width: 0;
}

.formspecs{
	width:640px;
	box-sizing: border-box;
    padding: 10px;
    display:inline-block;
	border: solid #dddddd 1px;
	background-color: white;
}

.formspecs > hr{
	height:3px;
}

.leftPortfolio{
	width:650px;
	box-sizing: border-box;
	padding:20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
}

.leftPortfolio > hr{
	height:3px;
}

.image-left{
	height:250px;
	width:275px;
	float:left;
	margin-bottom: 50px;
}

.image-right{
	height:250px;
	width:275px;
	float:right;
	margin-bottom: 50px;
}
.img-resize{
	height:250px;
	width:275px;
}
.wordbox{
    bottom: -177px;
    background-color: #4aaaa5;
    box-sizing: border-box;
    padding: .5px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    position: relative;
    bottom: 35%;
    height: 70px;
    width: 275px;
    text-align: center;
    line-height: 70px;
    color: #ffffff;
    font-size: larger;
}

#profile_pic{
	float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 280px;
    height: 270px;
}